In [1]:
imitation = """"The Imitation Game is a 2014 British historical drama film directed by Morten Tyldum and written by Graham Moore, based on the 1983 biography Alan Turing: The Enigma by Andrew Hodges. The title of the film quotes the name of the game Alan Turing proposed for answering the question "Can machines think?", in his 1950 seminal paper "Computing Machinery and Intelligence". It stars Benedict Cumberbatch as British cryptanalyst Alan Turing, who decrypted German intelligence messages for the British government during the Second World War. Keira Knightley, Matthew Goode, Rory Kinnear, Charles Dance, and Mark Strong also star.

The screenplay topped the annual Black List for best unproduced Hollywood scripts in 2011. The Weinstein Company acquired the film for $7 million in February 2014, the highest amount ever paid for U.S. distribution rights at the European Film Market. It was released theatrically in the United States on 28 November 2014.

The Imitation Game grossed over $233 million worldwide on a $14 million production budget, making it the highest-grossing independent film of 2014. It received eight nominations at the 87th Academy Awards, winning for Best Adapted Screenplay, five nominations in the 72nd Golden Globe Awards, and three nominations at the 21st Screen Actors Guild Awards. It also received nine BAFTA nominations and won the People's Choice Award at the 39th Toronto International Film Festival.

The film was criticised by some for its inaccurate portrayal of historical events and for downplaying Turing's homosexuality. However, the LGBT civil rights advocacy organisation the Human Rights Campaign honoured it for bringing Turing's legacy to a wider audience."""

In [2]:
infinity = """"The Man Who Knew Infinity is a 2015 British biographical drama film about the Indian mathematician Srinivasa Ramanujan, based on the 1991 book of the same name by Robert Kanigel.

The film stars Dev Patel as Srinivasa Ramanujan, a real-life mathematician who, after growing up poor in Madras, India, earns admittance to Cambridge University during World War I, where he becomes a pioneer in mathematical theories with the guidance of his professor, G. H. Hardy, portrayed by Jeremy Irons.

Filming began in August 2014 at Trinity College, Cambridge.[3] The film had its world premiere as a gala presentation at the 2015 Toronto International Film Festival,[4][5] and was selected as the opening gala of the 2015 Zurich Film Festival.[6] It also played other film festivals including Singapore International Film Festival[7] and Dubai International Film Festival.[8]"""

In [3]:
movie = [imitation,infinity]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [5]:
count_vec = CountVectorizer(stop_words='english')
matrix = count_vec.fit_transform(movie)
matrix = matrix.todense()
dataframe = pd.DataFrame(matrix,columns=count_vec.get_feature_names(),index=['Imitation','Infinity'])

In [7]:
dataframe.head()

,14,1950,1983,1991,2011,2014,2015,21st,233,28,...,unproduced,war,weinstein,wider,winning,won,world,worldwide,written,zurich
Imitation,1,1,1,0,1,4,0,1,1,1,...,1,1,1,1,1,1,1,1,1,0
Infinity,0,0,0,1,0,1,3,0,0,0,...,0,1,0,0,0,0,2,0,0,1

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(dataframe, dataframe))

[[1.         0.33631509]
 [0.33631509 1.        ]]